.container-dua {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.service {
    padding: 20px;
    box-sizing: border-box;

}

h3 {
    text-align: center;
}

.service.satu {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.square img {
    width: 350px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
}

.square p {
    text-align: center;
}

.container-empat {
    background-color: rgb(95, 189, 196);
    width: auto;
    padding: 20px;
}

h3 {
    text-align: center;
    display: block;
}