.container-lima {

    width: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact {
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
}

h3 {
    text-align: center;
}

.contact.satu {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    display: flex;
}

.square iframe {
    width: 350px;
    height: 300px;
    border-radius: 5px;
}

.foot.foot li {
    list-style: none;
    padding: 20px;
}

.foot.foot li a {
    text-decoration: none;
}